<footer class="footer-bs">
            <div class="row">
                <div class="col-md-12 footer-brand animated fadeInLeft">
                    <h2>MadaFood</h2>
                    <p>This is the a beautiful recipe website that you can search waht you want to make in your meal<br>
                    Let us create wonderful food in the world</p>
                    <p>© 2018 Accelerate Group Project</p>
                </div>
            </div>
        </footer>