<footer class="footer-bs">
    <div class="row">
        <div class="col-md-12 footer-brand animated fadeInLeft">
            <h2>MadaFood</h2>
            <p>A recipe finder database with social capabilities. <br> 
            Find your favourite boiled chicken recipe.</p>
            <p>Copyright William Choi, Oliver Leung, Tommy Tse 2018 ©</p>
        </div>
    </div>
</footer>