<section id="header">
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #ffcc80;">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto title changefontfortitle" href="/">MadaFood</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {{#if isAuthenticated}}
                <li class="nav-item">
                    <a class="nav-link changefontina" href="/">HOME</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link changefontina" href="/profile">PROFILE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link changefontina" href="/upload">UPLOAD RECIPE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link changefontina logout" href="/logout">LOGOUT</a>
                </li>

                {{else}}
                <li>
                    <a class="nav-link" href='/login'>LOGIN</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>
</section>