<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Food Recipe Finder App</title>
</head>
<body>
    <section>Header</section>
    {{{body}}}
    <footer>Footer</footer>
</body>
</html>