<link rel="stylesheet" href="/css/login.css" />

<body id="body" style="background-color: #ffffff;">

    <section id="accessing" class="row">
        <div id="login" class="col-md-4 col-sm-12 col-12">
            <h4>LOGIN</h4>
            <div id="line"></div>
            <div id="line"></div>

            <form action="/login" method="post">
                {{!-- <div id="container">
                    <!-- facebook login option -->
                    <a class="fa fa-facebook" href='/auth/facebook'></a>
                    <!-- google login option -->
                    <a class="fa fa-google" href='/auth/google'></a>
                </div> --}}

                <div class="login-form">
                    <div class="text-center social-btn">
                        <a href="/auth/facebook" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></a>
                        <a href="/auth/google'" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>
                    </div>
                </div>

                <div class="container">
                    <label>Email:</label>
                    <input type="email" name="username" required>
                </div>
                <div class="container">
                    <label>Password:</label>
                    <input type="password" name="password" required>
                </div>
                <div id="logincolor">
                    <input type="submit" value="Log In">
                </div>
            </form>

            <div id="horizonline"></div>

            <p>OR</p>
            <p>If you do not have an account yet, please sign up and enjoy our additional features.</p>
            <div id="signupcolor">
                <a href="/signup"><input type="submit" value="Sign Up for Free"></a>
            </div>
        </div>
    </section>
</body>