<link rel="stylesheet" href="/css/profile.css" />

<section id="profilebottom">
    <div id="background">
        <div id="information">
            <div class="row">
                <div id="blockone" class="col-md-4">
                    <img src="/assets/001.png" width="80px" height="80px">
                    <h5>Williamyukwa</h5>
                    <p>level: 10</p>
                </div>
                <div id="blocktwo" class="need-aglin-center col-md-4">
                    <form action="/sth" method="POST">
                        <input type="submit" value="My Message">
                        <input type="submit" value="My Comment ">
                    </form>
                </div>
                <div id="blockthree" class="need-aglin-center col-md-4">
                    <form action="/sth" method="POST">
                        <input type="submit" value="Preference">
                        <input type="submit" value="Setting">
                    </form>
                </div>
            </div>
        </div>

        <div id="horizonline"></div>

        <div id="record">
            <div id="upload">
                <div class="need-flex-start">
                    <h4>My Upload</h4>
                    <form action="/sth" method="POST">
                        <input type="submit" value="+ Upload New Recipe ">
                    </form>
                </div>
                <div id="searchbody">
                    <div class="row">
                        <div class="everycard col-md-4 col-sm-12 col-12">
                            <div class="card">
                                <img class="card-img-top" src="/assets/001.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Food Title</h6>
                                    <p class="card-text">Description</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Rating</li>
                                    <li class="list-group-item">Tag</li>
                                    <li class="list-group-item">Cooking Time</li>
                                </ul>
                            </div>
                        </div>
                        <div class="everycard col-md-4 col-sm-12 col-12">
                            <div class="card">
                                <img class="card-img-top" src="/assets/001.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Food Title</h6>
                                    <p class="card-text">Description</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Rating</li>
                                    <li class="list-group-item">Tag</li>
                                    <li class="list-group-item">Cooking Time</li>
                                </ul>
                            </div>
                        </div>
                        <div class="everycard col-md-4 col-sm-12 col-12">
                            <div class="card">
                                <img class="card-img-top" src="/assets/001.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Food Title</h6>
                                    <p class="card-text">Description</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Rating</li>
                                    <li class="list-group-item">Tag</li>
                                    <li class="list-group-item">Cooking Time</li>
                                </ul>
                            </div>
                        </div>
                        <div class="everycard col-md-4 col-sm-12 col-12">
                            <div class="card">
                                <img class="card-img-top" src="/assets/001.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Food Title</h6>
                                    <p class="card-text">Description</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Rating</li>
                                    <li class="list-group-item">Tag</li>
                                    <li class="list-group-item">Cooking Time</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="horizonline"></div>

            <div id="favourite">
                <h4>My Favourite</h4>
                <div id="searchbody">
                    <div class="row">
                        <div class="everycard col-md-4 col-sm-12 col-12">
                            <div class="card">
                                <img class="card-img-top" src="/assets/001.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Food Title</h6>
                                    <p class="card-text">Description</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Rating</li>
                                    <li class="list-group-item">Tag</li>
                                    <li class="list-group-item">Cooking Time</li>
                                </ul>
                            </div>
                        </div>
                        <div class="everycard col-md-4 col-sm-12 col-12">
                            <div class="card">
                                <img class="card-img-top" src="/assets/001.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Food Title</h6>
                                    <p class="card-text">Description</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Rating</li>
                                    <li class="list-group-item">Tag</li>
                                    <li class="list-group-item">Cooking Time</li>
                                </ul>
                            </div>
                        </div>
                        <div class="everycard col-md-4 col-sm-12 col-12">
                            <div class="card">
                                <img class="card-img-top" src="/assets/001.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Food Title</h6>
                                    <p class="card-text">Description</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Rating</li>
                                    <li class="list-group-item">Tag</li>
                                    <li class="list-group-item">Cooking Time</li>
                                </ul>
                            </div>
                        </div>
                        <div class="everycard col-md-4 col-sm-12 col-12">
                            <div class="card">
                                <img class="card-img-top" src="/assets/001.png" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Food Title</h6>
                                    <p class="card-text">Description</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Rating</li>
                                    <li class="list-group-item">Tag</li>
                                    <li class="list-group-item">Cooking Time</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="horizonline"></div>

                <div id="history">
                    <h4>History</h4>
                    <div id="searchbody">
                        <div class="row">
                            <div class="everycard col-md-4 col-sm-12 col-12">
                                <div class="card">
                                    <img class="card-img-top" src="/assets/001.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h6 class="card-title">Food Title</h6>
                                        <p class="card-text">Description</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Rating</li>
                                        <li class="list-group-item">Tag</li>
                                        <li class="list-group-item">Cooking Time</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="everycard col-md-4 col-sm-12 col-12">
                                <div class="card">
                                    <img class="card-img-top" src="/assets/001.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h6 class="card-title">Food Title</h6>
                                        <p class="card-text">Description</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Rating</li>
                                        <li class="list-group-item">Tag</li>
                                        <li class="list-group-item">Cooking Time</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="everycard col-md-4 col-sm-12 col-12">
                                <div class="card">
                                    <img class="card-img-top" src="/assets/001.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h6 class="card-title">Food Title</h6>
                                        <p class="card-text">Description</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Rating</li>
                                        <li class="list-group-item">Tag</li>
                                        <li class="list-group-item">Cooking Time</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="everycard col-md-4 col-sm-12 col-12">
                                <div class="card">
                                    <img class="card-img-top" src="/assets/001.png" alt="Card image cap">
                                    <div class="card-body">
                                        <h6 class="card-title">Food Title</h6>
                                        <p class="card-text">Description</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Rating</li>
                                        <li class="list-group-item">Tag</li>
                                        <li class="list-group-item">Cooking Time</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>