<link rel="stylesheet" href="/css/profile.css" />

<body style="background: white;">
    <div id="container">
        <h4>Your Profile</h4>

        <div id="userinfo">
            <div id="userphoto">
                <img src={{profilepic}}>
                <form action="/image-upload" enctype='multipart/form-data' method="post">
                    <div>
                        <label>Profile Picture:</label>
                        <input id="image" name="image" type="file" accept="image/png, image/jpeg">
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div id="setting">
                <div id="currentinfo">
                    <p>Username: {{name}}</p>
                    <p>Email: {{email}}</p>
                    <div>
                        <a href='/logout'><button>Logout</button></a>
                        <a href='/'><button>Home</button></a>
                    </div>
                </div>

                <div id="updateinfo">
                    <p>Update Details</p>
                    <form action="/profile" method="post">
                        <div>
                            <label>Username:</label>
                            <input id="username" name="username" type="text" placeholder="Choose wisely">
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    // File validation
    var uploadImage = document.getElementById("image");

    uploadImage.onchange = function(e) { // when there is a change detected in this input field
        
        e.preventDefault();

        var file = this.files[0];
        var img = new Image(); // create an image element with that selected file
        img.src = window.URL.createObjectURL(file);

        // as soon as the image has been loaded
        img.onload = function () {
            var width = img.naturalWidth,
                height = img.naturalHeight;

            // unload it
            window.URL.revokeObjectURL(img.src);

            // check its dimensions
            if (width <= 500 && height <= 500 && file.size < 1000000) {
                // it fits 
            } else {
                // it doesn't fit, unset the value 
                uploadImage.value = "";
                alert("Please check that your image is no larger than 500x500 AND no larger than 1MB!");
            }
        };
    };
</script>