<link rel="stylesheet" href="/css/searchpage.css" />

<section id="searchbar">
    <h4>Search for your favourite food</h4>
    <!-- link modify later -->
    <form action="/search" method="get">
        <input id="searchbox" type="text" name="name" value="">
        <input type="submit" value="Search">
    </form>
</section>

<section id="searchresult">
    <div id="searchbody">
        <div class="row">
            <div class="everycard col-md-4 col-sm-12 col-12">
                <div class="card">
                    <img class="card-img-top" src="/assets/001.png" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title">Food Title</h6>
                        <p class="card-text">Description</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Rating</li>
                        <li class="list-group-item">Tag</li>
                        <li class="list-group-item">Cooking Time</li>
                    </ul>
                    <a href="/front-end/recipe.html" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>