<section id="receipe">
    <div id="imagine" class="need-flex-start">
        <img src="001.png">
    </div>
    <div id="blockone">
        <div class="row">
            <div id="description" class="col-md-10">
                <h6>Description:</h6>
                <p>This is demo description.This is demo description.This is demo description.
                    This is demo description.This is demo description.</p>
                <p>This is demo description.This is demo description.This is demo description.
                    This is demo description.This is demo description.</p>
            </div>
            <div id="rating" class="col-md-2">
                <p>----star-----</p>
                <p>----tag------</p>
            </div>
        </div>
    </div>

    <div id="blocktwo">
        <div class="row">
            <div id="context" class="col-md-10">
                <div id="ingredient">
                    <h6>Ingredient:</h6>
                    
                    <p>This is demo ingredient x1</p>
                    <p>This is demo ingredient x1</p>
                    <p>This is demo ingredient x1</p>
                    <p>This is demo ingredient x1</p>
                    <p>This is demo ingredient x1</p>
                    <p>This is demo ingredient x1</p>
                    <p>This is demo ingredient x1</p>
                    <p>This is demo ingredient x1</p>
                    <p>This is demo ingredient x1</p>
                    <p>This is demo ingredient x1</p>
                </div>

                <div id="direction">
                    <h6>Direction:</h6>
                    <p>1. This is demo direction</p>
                    <p>2. This is demo direction</p>
                    <p>3. This is demo direction</p>
                    <p>4. This is demo direction</p>
                </div>
            </div>
            <div id="buttom" class="col-md-2">
                <form action="/sth" method="POST">
                    <input type="submit" value="Commet">
                    <input type="submit" value="Share">
                    <input type="submit" value="Favourite">
                    <input type="submit" value="I made it!">
                </form>
            </div>
        </div>
    </div>

    <div id="blockthree">
        <h6>Comment:</h6>
        <div id="commentblock" class="row">
            <div id="commentprofile" class="col-md-3">
                <p>Williamyukwa</p>
                <img src="001.png" width="50px" height="50px">
                <form>
                    <input id="viewpro" type="submit" value="View Profile">
                </form>
            </div>
            <div id="commentcontext" class="col-md-9">
            </div>
        </div>
    </div>
</section>