<link rel="stylesheet" href="/css/recipeList.css">
<link rel="stylesheet" href="/css/searchpage.css">
<section id="searchbar">
    <h4>Search for your favourite food by API service</h4>
    <!-- link modify later -->
    <form action="/search" method="get">
        <input id="searchbox" type="text" name="name" value="">
        <input type="submit" value="Search">
    </form>
</section>
<!-- navigation holder -->
<div class="holder">
</div>

<!-- item container -->
<section id="searchresult">
    <div id="searchbody">
        <ul id="itemContainer">
            {{#each obj}}
            <li>
                <img src=https://spoonacular.com/recipeImages/{{image}} alt="image">
                <h6>{{title}}</h6>
                <p>Cooking Time {{readInMinutes}}</p>
                <a class="learnmore" href="/searchByAPI/recipe?id={{id}}">Learn More</a>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
<script type="text/javascript">
    $("div.holder").jPages({
        containerID: "itemContainer",
        perPage: 3,
        startPage: 1,
        startRange: 5,
        midRange: 5,
        endRange: 5
    });
</script>