<section id="searchbar">
    <h4>Search for your favourite food</h4>
    <!-- link modify later -->
    <form action="/sth" method="POST">
        <input id="searchbox" type="text" name="firstname" value="">
        <input type="submit" value="Search">
    </form>
</section>