<section id="searchbar">
    <h4>Search for your favourite food</h4>
    <!-- link modify later -->
    <form action="/search" method="get">
        <input id="searchbox" type="text" name="name" value="">
        <input type="submit" value="Search">
    </form>
</section>