<link rel="stylesheet" href="/css/signup.css" />



<div id="signform">
    <form action="/signup" method="post">
     <h3>Welcome to join us!</h3>
     <h6>Please submit your information as below.</h6>
        <div class="signinput">
            <label>Email:</label>
            <input type="email" name="username" placeholder="Email Input" required />
        </div>
        <div class="signinput">
            <label>Password:</label>
            <input id="password" name="password" type="password" placeholder="Password" required />
        </div>
        <div class="signinput">
            <label>Confirm Password:</label>
            <input id="confirm_password" type="password" placeholder="Confirm Password" required>
        </div>
        <div class="signsubmit">
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>

<script>
    // PASSWORD VALIDATION
    var password = document.getElementById("password"),
        confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>