<form action="/signup" method="post">
    <div>
        <label>Email:</label>
        <input type="email" name="username" placeholder="Input Email" required />
    </div>
    <div>
        <label>Password:</label>
        <input id="password" name="password" type="password" placeholder="Password" required />
    </div>
    <div>
        <label>Confirm Password:</label>
        <input id="confirm_password" type="password" placeholder="Confirm Password" required>
    </div>
    <div>
        <input type="submit" value="Sign up" />
    </div>
</form>

<script>
    var password = document.getElementById("password"),
        confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>