<link rel="stylesheet" href="/css/upload.css" />

<section id="uploadform">
    <div id="background">
        {{!-- <form action="/profile" method="post">
            <div>
                <label>Username:</label>
                <input id="username" name="username" type="text" placeholder="Choose wisely">
            </div>
            <input type="submit" value="Submit">
        </form> --}}
        <form action="/addRecipe" method="POST">

            <div id="title">
                <input type="text" name="title">
            </div>

            <div id="adjustment">
                <div id="photoupload" class="row">
                    <div id="imgupload" class="col-md-6">
                        <p>Photo Upload:</p>
                        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                    </div>

                    <div class="col-md-6">
                        <div id="imgshow">
                            <p>test</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ingredient">
                <p>Ingredient:</p>
                <div id="inline-block">
                    <div id="quantity">
                        <textarea name="ingredient"></textarea>
                        <select name="amount">
                            <option value="1">x1</option>
                            <option value="2">x2</option>
                            <option value="3">x3</option>
                            <option value="4">x4</option>
                            <option value="5">x5</option>
                            <option value="6">x6</option>
                            <option value="7">x7</option>
                        </select>
                    </div>
                    <div id="quantity">
                        <textarea name="ingredient"></textarea>
                        <select name="amount">
                            <option value="1">x1</option>
                            <option value="2">x2</option>
                            <option value="3">x3</option>
                            <option value="4">x4</option>
                            <option value="5">x5</option>
                            <option value="6">x6</option>
                            <option value="7">x7</option>
                        </select>
                    </div>
                    <div id="quantity">
                        <textarea name="ingredient"></textarea>
                        <select name="amount">
                            <option value="1">x1</option>
                            <option value="2">x2</option>
                            <option value="3">x3</option>
                            <option value="4">x4</option>
                            <option value="5">x5</option>
                            <option value="6">x6</option>
                            <option value="7">x7</option>
                        </select>
                    </div>

                    <button id="btn"><i class="fas fa-plus-circle"></i></button>
                </div>
            </div>

            <div id="instructions">
                <p>Instructions:</p>
                <textarea name="instructions"></textarea>
            </div>

            <div id="time">
                <p>Total Cooking Time:</p>
                <div id="verticalcenter">
                    <textarea name="time_taken"></textarea>
                    <span>mins</span>
                </div>
            </div>

            <div id="type">
                <p>Tag:</p>
                <input type="checkbox" name="tag" value="dessert">
                <label for="dessert">Dessert</label>
                <input type="checkbox" name="tag" value="lunch">
                <label for="lunch">Lunch</label>
                <input type="checkbox" name="tag" value="bread">
                <label for="bread">Bread</label>
                <input type="checkbox" name="tag" value="soup">
                <label for="soup">Soup</label>
                <input type="checkbox" name="tag" value="morning meal">
                <label for="morning meal">Morning meal</label>
                <input type="checkbox" name="tag" value="sause">
                <label for="sause">Sause</label>
                <input type="checkbox" name="tag" value="fingerood">
                <label for="fingerood">Fingerood</label>
                <input type="checkbox" name="tag" value="beverage">
                <label for="beverage">Beverage</label>
                <input type="checkbox" name="tag" value="side dish">
                <label for="side dish">Side dish</label>
            </div>
            
            <input type="submit" value="Submit">
        </form>
    </div>
</section>