<link rel="stylesheet" href="/css/upload.css" />

<section id="uploadform">
    <div id="background">
        {{!-- <form action="/profile" method="post">
            <div>
                <label>Username:</label>
                <input id="username" name="username" type="text" placeholder="Choose wisely">
            </div>
            <input type="submit" value="Submit">
        </form> --}}
        <form action="/addRecipe" method="POST" enctype="multipart/form-data">

            <div id="title">
                <input type="text" name="title" placeholder="e.g Apple Pie">
            </div>

            <div id="adjustment">
                <div id="photoupload" class="row">
                    <div id="imgupload" class="col-md-6">
                        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                    </div>

                    <div class="col-md-6">
                        <div id="imgshow">
                            <p>test</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ingredient-element">
                <p>Ingredient:</p>
                <div id="inline-block">
                    <div class="quantity">
                        <textarea name="ingredient[]"></textarea>
                        <input type="number" name="amount[]" placeholder="e.g x1">
                        <input type="text" name="measure[]" placeholder="e.g pcs">
                    </div>
                    <div class="quantity">
                        <textarea name="ingredient[]"></textarea>
                        <input type="number" name="amount[]" placeholder="e.g x1">
                        <input type="text" name="measure[]" placeholder="e.g pcs">
                    </div>
                    <button id="btn"><i class="fas fa-plus-circle"></i></button>
                </div>
            </div>

            <div id="instructions">
                <p>Instructions:</p>
                <textarea name="instructions" placeholder="1. Pouring the water into the glass"></textarea>
            </div>

            <div id="time">
                <p>Total Cooking Time:</p>
                <div id="verticalcenter">
                    <textarea name="time_taken" placeholder="120"></textarea>
                    <span>mins</span>
                </div>
            </div>

            <div id="tag-element">
                <p>Tag:</p>
                <input type="checkbox" name="tag" value="dessert">
                <label for="dessert">Dessert</label>
                <input type="checkbox" name="tag" value="lunch">
                <label for="lunch">Lunch</label>
                <input type="checkbox" name="tag" value="bread">
                <label for="bread">Bread</label>
                <input type="checkbox" name="tag" value="soup">
                <label for="soup">Soup</label>
                <input type="checkbox" name="tag" value="morning meal">
                <label for="morning meal">Morning meal</label>
                <input type="checkbox" name="tag" value="sause">
                <label for="sause">Sause</label>
                <input type="checkbox" name="tag" value="fingerood">
                <label for="fingerood">Fingerood</label>
                <input type="checkbox" name="tag" value="beverage">
                <label for="beverage">Beverage</label>
                <input type="checkbox" name="tag" value="side dish">
                <label for="side dish">Side dish</label>
            </div>

            <input type="submit" value="Submit">
        </form>
    </div>
</section>