@media (min-width: 768px) {
.navbar-brand.title
    {
        width: 100%;
        left: 0;
        text-align: center;
        color: #595959;
        font-weight: bold;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

nav{
    height:auto;
    font-size: 12px;
}

/* search */
#searchbar{
    margin: 50px;
}

#searchbar h4{
    margin: 20px;
    text-align: center;
    color:white;
}

#searchbar form{
    margin: 20px;
    text-align: center;
}

#searchbar input[type="submit"]{
    border: 1px solid #803300;
    background-color: #803300;
    border-radius: 5px;
    color:white;
    cursor: pointer;
}

#searchbar input[type="submit"]:hover{
    background-color: #ff6600;
    border-color:#ff6600;
}

#searchbox{
    width: 50%;
}

/* slideshows */

#slideshow p{
    margin-bottom:5px;
}

#slideshow img {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color:white;
    padding: 5px;
}

#slideshow{
    display: block;
    width: 100%; 
    height: 100%;
}

#slideshow .learnmore{
    color:black;
    background-color: white;
    width: 40%;
    padding: 5px 10px;
    border-radius: 5px;
}


#slideshow .carousel-caption{
    padding-top:10px;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

@media only screen and (max-width:500px){
    #slideshow .carousel-caption{
        font-size: 20px;
    }
}

#slideshow .learnmore{
    border: 1px solid white;
    background: none;
    color:white;
    font-family: "Gill Sans", sans-serif;
    font-size: 15px; 
}

#slideshow input .learnmore:hover{
    background-color:#00b36b;
    color:white;
}

#slideshow .learnmore:link {
    color:white;
}

#slideshow .learnmore:hover {
    color:#00b36b;
}
  
#slideshow .imgcontainer{
    display: flex;
    justify-content: center;
    width:100%;
    padding-bottom:20px;
    opacity: 0.8;
}

#slideshow .img{
    width:90%;
}

.carousel-caption{
    left:25% !important;
    right:25% !important;
    padding-bottom:20px;
}

@media only screen and (min-width:1200px){
    .carousel-caption{
        left:35% !important;
        right:35% !important;
    }
}

@media only screen and (max-width:600px){
    .carousel-caption{
        left:20% !important;
        right:20% !important;
    }
}


.carousel-control-next-icon, .carousel-control-prev-icon {
    border: 1px solid;
    padding: 15px;
    border-radius: 50%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-size: 60% 100%;
}


@media only screen and (min-width:1000px){
    .carousel-control-prev{
        left: 10%;
    }
    .carousel-control-next {
        right: 10%;
    }
}



/* footer */
.footer-bs {
    background-color: #3c3d41;
	padding: 40px 40px;
	color: rgba(255,255,255,1.00);
	/* margin-bottom: 20px; */
}

.footer-bs  h2 { 
    margin:0px 0px 10px; 
}

.footer-bs p { 
    font-size:12px; color:rgba(255,255,255,0.70); 
}

.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	/* margin-bottom:10px; */
}

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	/* margin-bottom:10px; */
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav { border-left:solid 1px rgba(255,255,255,0.10); }
}

