body{
    background-color: #ffffe6;
}

#searchresult{
    display: flex;
    justify-content: center;
    height: auto;
}

#searchbody{
    background-color: #ffb366;
    height: auto;
    width: 90%;
    padding: 20px 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
}

.card{
    width: 70%;
    height: 100%;
}

.row{
    padding: 0px 20px;
}


.everycard{
    width: 25%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.card-body{
    padding:0;
}


.card-body h6{
    margin-bottom: 3px;
}

.card-body p{
    font-size: 10px;
}

.list-group-item{
    padding:10px 0px;
    border: 0;
    font-size: 10px;
}