
#ingredient-element p{
    margin-top:10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #33bbff;
    padding: 0px 5px;
    color: white;
    width: 90px;
}

#instructions p{
    margin-top:10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #33bbff;
    padding: 0px 5px;
    color: white;
    width: 100px;
}

#time p{
    margin-top:10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #33bbff;
    padding: 0px 5px;
    color: white;
    width: 155px;
}

#tag-element p{
    margin-top:10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #33bbff;
    padding: 0px 5px;
    color: white;
    width: 40px; 
}

#inline-block{
    display:flex;
    justify-content: flex-start;
}

#verticalcenter{
    display:flex;
    align-items: center;
}


#btn{
    background-color:white;
    border:0;
}

#uploadform{
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color:#80bfff;
}

#background{
    width:90%;
    background-color: #ffffe6;
    padding: 60px 40px;
    margin: 40px;
    border-radius: 30px;
}

#title{
    display:flex;
    justify-content: center;
}

#title input[type="text"]{
    border: 2px dashed #333333;
    border-radius: 2px;
    width: 50%; 
    height: 30px;
    text-align: center;
}

#adjustment{
    padding: 0px 50px;
}

#photoupload{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 20px;
}

#photoupload input[name="avatar"]{
    border: 1px solid;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight:bold;
    width:45%;
    font-size:15px;
    color:white
}


#photoupload input[value="Photo Submit"]{
    border: 1px solid;
    background-color: #1ab2ff;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight:bold;
    color:white;
    display: inline-block;
}

#photoupload input[value="Photo Submit"]:hover{
    background-color: orange;
    transition: 0.5s;
}


#imgshow{
    width: 280px;
    height: 200px;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
    font-size: 20px;
    margin-bottom: 20px;
}

.middle{
    display: flex;
    justify-content: center;
}

textarea{
    width: 80%;
    border: 2px solid;
    border-radius: 5px;
}


#ingredient-element input[type="number"], #ingredient-element input[type="text"]{
    border: 1px solid;
    width: 30%;
    margin-bottom: 10px;
}

#ingredient-element button[type="button"]{
    height: 30px;
    font-size: 16px;
    background: none;
    border: none;
    background-color: #ffb380;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

#ingredient-element button[type="button"]:hover{
    background-color: #ff6600;
}



#time textarea{
    width: 20%; 
}

#time span{
    margin-left: 10px;
}

input[type="checkbox"]{
    margin-left: 10px;
}

input[type="submit"]{
    display: block;
    height:100%;
    margin: 20px;
    border: 1px solid;
    background: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
}

input[type="submit"]:hover{
    background-color:black;
    color:white;
    transition: 0.8s;
}

@media only screen and (max-width:425px){
    #background{
        padding:60px 10px;
    }

    #adjustment{
        padding:0;
    }

    #title input[type="text"]{
        width: 100%;
    }
}

@media only screen and (max-width:768px){
    #title input[type="text"]{
        width: 80%;
    }
}

@media only screen and (max-width: 600px){
    #inline-block{
        display:block;
    }

    #photoupload button{
        width:280px;
    }
}

.grouping{
    display: inline-block;
}